:root {
   --primary-color: #17a2b8;
   --dark-color: #343a40;
   --light-color: #f4f4f4;
   --danger-color: #dc3545;
   --success-color: #28a745;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Raleway", sans-serif;
   font-size: 1rem;
   line-height: 1.6;
   background-color: #fff;
   color: #333;
}
.container {
   max-width: 1100px;
   margin: auto;
   overflow: hidden;
   padding: 0 2rem;
}

a {
   color: var(--primary-color);
   text-decoration: none;
}

ul {
   list-style: none;
}

img {
   width: 100%;
}

.navbar {
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   padding: 0.7rem 2rem;
   position: fixed;
   z-index: 1;
   width: 100%;
   top: 0;
   border-bottom: solid 1px var(--primary-color);
   opacity: 0.9;
}
.nav-div {
   width: 22%;
   display: flex;
   justify-content: space-between;
   margin-left: -130px;
}

.nav-div button {
   height: 50px;
}
.navbar ul {
   display: flex;
}

.navbar a {
   color: black;
   padding: 0.45rem;
   margin: 0 0.25rem;
}

.navbar a:hover {
   color: var(--primary-color);
}

.navbar .welcome span {
   margin-right: 0.6rem;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
   background: var(--dark-color);
   color: #fff;
}

.logo {
   margin-top: 8px;
   width: 23%;
   height: 22%;
}

.landing {
   position: relative;
   background: url("../images/showcase.jpg") no-repeat center center/cover;
   height: 100vh;
}

.landing-inner {
   color: #fff;
   height: 100%;
   width: 80%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

/* Overlay */
.dark-overlay {
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.x-large {
   font-size: 3rem;
}
.lead {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}
.btn {
   display: inline-block;
   background: var(--light-color);
   color: #333;
   padding: 0.4rem 1.3rem;
   font-size: 1rem;
   border: none;
   cursor: pointer;
   margin-right: 0.5rem;
   transition: opacity 0.2s ease-in;
   outline: none;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
   background: var(--primary-color);
   color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
   background: var(--light-color);
   color: #333;
}

.large {
   font-size: 2rem;
}
.text-primary {
   color: var(--primary-color);
}
.lead {
   font-size: 1rem;
}
.form .form-group {
   margin: 1.2rem 0;
}

.form .form-text {
   display: block;
   margin-top: 0.3rem;
   color: #888;
}

.form input[type="text"],
.form input[type="password"],
.form select {
   display: block;
   width: 100%;
   padding: 0.4rem;
   font-size: 1.2rem;
   border: 1px solid #ccc;
}

.form input[type="submit"],
button {
   font: inherit;
}

.all-margin {
   margin-top: 10%;
}

.logout {
   margin-left: 60%;
   height: 50px;
}

.dropdown {
   width: 40%;
   height: 30px;
}
